#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.2rem;
}

.icon {
  font-size: 25px;
  color: white;
}

button ::placeholder {
  font-family: inherit;
}

.todoImg {
  opacity: 0.5;
  height: 25rem;
}

.todoItem {
  background-color: #d4d4d4;
}

/* .deleteIcon {
  color: transparent;
} */

.todoItem .deleteIcon:hover {
  color: #f22c2c;
}

.todoItem p {
  font-size: 1.5rem;
}

.inpValue::placeholder {
  font-size: 1.2rem;
}

.done {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 5px;
  padding: 5px;
  cursor: pointer;
}

.done:hover {
  background-color: #0b5ed7 !important;
}

.todoInput {
  width: 700px;
}

.todoInput input {
  background-color: transparent !important;
}

.todoInput input:focus {
  background-color: white !important;
  border: 0 !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem rgba(13,110,253,.25) !important;
}